@model List<Producte>

@{
    ViewData["title"] = "Cistell de Compra";
}

<div class="cistella-container">
    <h1 class="cistella-title">Cistell de Compra</h1>
    <div class="productes">
       
        @foreach (var product in Model)
        {
			
            <div class="product-card">
                <img class="product-image" src="/imatges/@product.imatgeproducte" alt="@product.nomProducte">
                <div class="product-info">
                    <h3 class="product-name">@product.nomProducte</h3>
                    <small class="small">codi: @product.codiProducte</small>
                    <p>Preu: <b class=" product-price">@product.preuProducte €</b> Preu Total : <b class="product-price">@ViewData["preuTotalt" + product.codiProducte]</b></p>
                    <div class="product-actions">
                        <label for="quantity-@product.preuProducte">Quantitat:</label>
                        <form asp-action="ActualizarQuantitatCistell" asp-controller="Cistell" method="post">
                            <input name="codeproducte" type="hidden" value="@product.codiProducte" />
                            <input name="quantitat" id="quantity-@product.preuProducte" type="number" value="@ViewData["quantitat"+product.codiProducte]" min="0" class="quantity-input">
                            <input type="submit" class="btn btn-success" value="actualitzar" />
                        </form>
                       
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="cistella-footer">
        <form asp-controller="Cistell" asp-action="FinalitzarCompra">
            <button type="submit" class="btn btn-success btn-lg checkout-btn">Finalitzar Compra</button>
</form>
       
        <b>Total: <span id="total">@ViewData["preuTotal"]</span> €</b>
    </div>
</div>
