@model List<Producte>
@{
    ViewData["title"] = "Finalitza Compra";
}

@section Css {
    <link href="~/css/estilFinCompra.css" rel="stylesheet" />    
}
@{
    <div class="card">
    <div class="card-header">
        <div class="dades">
                <img src="~/imatgesProductes/padelponoitlogo.png" alt="logo empresa" />
               
        </div>
      
    </div>
    <div class="card-body">
   
    <table>
    <theader>
   
    <tr>
                <th>Producte</th>
                <th>nom Producte</th>
              
                <th>preu Producte unitat</th>
                <th>quantitat productes</th>
                <th>Preu Producte Total</th>
    </tr>
                </theader>
    <tbody>
   
    @foreach(var producte in Model)
    {
          
            <tr>
                    <td> <img class="product-image" src="/imatgesProductes/Productes/@producte.imatgeproducte" alt="@producte.nomProducte"></td>
                    <td>@producte.nomProducte</td>
                    
                    <td>@producte.preuProducte</td>
                     <td>@ViewData["quantitat" + producte.codiProducte]</td>
                    <td>@ViewData["preuTotalt" + producte.codiProducte]</td>
            </tr>
    }
                </tbody>
                <tr><td colspan="4" style="text-align:end;">Total : @ViewData["preuTotal"] €</td></tr>
    </table>
          
        </div>
        <div class="card-footer">
        &copy; Aissam Bouazama
        </div>
    </div>


 
}
